<input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher des suggestions..." class="form-control mb-4">

<div class="row">
  <ng-container *ngFor="let s of suggestions">
    <div class="col-md-3 mb-4" *ngIf="s.title==searchTerm || searchTerm==null || searchTerm==''">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ s.title }}</h5>
          <p class="card-text">{{ s.description }}</p>
          <p class="card-text">{{ s.category }}</p>
          <p class="card-text">{{ s.date | date }}</p>
          <p class="card-text">{{ s.status }}</p>
          <p class="card-text">{{ s.nbLikes }}</p>
          <button class="btn btn-primary" [hidden]="s.status === 'refusee'" (click)="likeSuggestion(s)">Like</button>
          <button class="btn btn-secondary" [hidden]="s.status === 'refusee'" (click)="addToFavorites(s)">Ajouter au favoris</button>
         <button class="btn btn-secondary" [routerLink]="['detail', s.id]">Détail</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>